<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.githang.android.apnbb.demo">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--接收开机启动的通知的权限，实现服务开机自启的必要权限-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!--唤醒权限，避免在锁屏时线程被挂起-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.githang.android.apnbb.demo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.androidpn.client.NotificationDetailsActivity"
            android:label="Notification Details" >
        </activity>
        <activity
            android:name="org.androidpn.client.NotificationSettingsActivity"
            android:label="Notification Settings" >
        </activity>

        <service
            android:name="org.androidpn.client.NotificationService"
            android:enabled="true"
            android:label="NotificationService" >
            <intent-filter>
                <action android:name="org.androidpn.client.NotificationService" />
            </intent-filter>
        </service>

        <activity
            android:name="com.githang.android.apnbb.demo.notify.NotifyListActivity"
            android:label="@string/title_activity_notify_list" >
        </activity>
        <activity
            android:name="com.githang.android.apnbb.demo.notify.NotifySettingsActivity"
            android:label="@string/title_activity_notify_setting" >
        </activity>
        <activity
            android:name="com.githang.android.apnbb.demo.notify.NotifyDetailActivity"
            android:label="@string/title_activity_notify_detail" >
        </activity>

        <receiver android:name="com.githang.android.apnbb.demo.notify.NotifyReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.irains.pushdemo.app.SHOW_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.githang.android.apnbb.demo.notify.AutoRunReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
